@import 'tailwindcss';
:root {
	--clr-gold: #bc8e5b;
}
body {
	background-color: #f1f0ee;
	overflow: hidden;
}
.ant-input-outlined:hover {
	border-color: var(--clr-gold) !important;
}
.ant-input-outlined:focus-within {
	border-color: var(--clr-gold) !important;
	box-shadow: 0 0 0 2px rgba(188, 142, 91, 0.08) !important;
}
.logo-img {
	animation-name: Logo;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
@keyframes Logo {
	0% {
		transform: scale(1) rotateY(0deg);
	}
	100% {
		transform: scale(1.4) rotateY(360deg);
	}
}
.ant-menu-item-selected {
	background-color: var(--clr-gold) !important;
}
.navbar-menu > li {
	padding: 25px !important;
}
.scrollbar-none::-webkit-scrollbar {
	display: none;
}

.scrollbar-none {
	scrollbar-width: none;
}

.scrollbar-none {
	-ms-overflow-style: none;
}
.ant-upload {
	width: 400px !important;
	height: 240px !important;
}
.ant-spin-dot {
	color: var(--clr-gold) !important;
}
